<main class="contenedor">
  <form method="POST" class="default-form">
    <div class="campo">
      <label for="email">Nuevo Password</label>
      <input
        type="password"
        name="password"
        placeholder="Tu nueva contraseña"
        required
      />
    </div>
    <div class="campo h-20">
      <input type="submit" value="Guardar Password" class="btn btn-azul" />
    </div>
  </form>
</main>