<main class="contenedor">
  <form method="POST" action="/reestablecer-password" class="default-form">
    <div class="campo">
      <label for="email">E-mail</label>
      <input type="email" name="email" placeholder="Tu Email" />
    </div>
    <div class="campo acciones">
      <a href="/iniciar-sesion">Volver a Iniciar Sesion</a>
    </div>
    <div class="campo h-20">
      <input type="submit" value="Reestablecer Password" class="btn btn-azul" />
    </div>
  </form>
</main>